node_modules/
dist/
*.tgz
__pycache__/
*.pyc
.pytest_cache/
python/*.egg-info/
python/.venv/
.dart_tool/
.packages
pubspec.lock
target/
*.crate
*.gem
*.nupkg
*.jar
/doc/
/docs/
nuget/**/bin/
nuget/**/obj/
haskell/dist-newstyle/
perl/Makefile
perl/MYMETA.*
perl/blib/
perl/pm_to_blib
*.zip
.DS_Store
